.row_content{
    border: dotted gold 5px;
    color: rebeccapurple;
}
#lovetrap{
    width: 25%;
}
#ttm{
    text-align: center;
    color: rebeccapurple;
}
.jumbotron{
    background: gold;
    color: rebeccapurple;
}
#tasky{
    color: gold;
}